<!DOCTYPE html>
<html ng-app="main">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>MiniPod</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
	<link rel="stylesheet" href="stylesheets/style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>	
</head>
<body>

	<div class="container-fluid" ng-controller="MainUIController">
		<div class="row">
			<div class="col-md-12">
				<h1 style="margin-top:0px">Printer Management System</h1>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default" style="width:100%">
					<div class="panel-heading"><h4>Queue</h4></div>
					<div class="panel-body">
						<h3>Printers</h3>
						<a ng-repeat="printer in selectedPrinters" ng-if="printer.selected == true" style="text-decoration: none">{{printer.serial}}&emsp;</a>
						<hr>
						<h3>File</h3>
						<a style="text-decoration:none">{{singleSelectedFile.name}}</a>
						<hr>
						<button type="button" class="btn btn-default panel-btn" ng-disabled="enableJobStart()">Start Print</button>
					</div>					
				</div>			
			</div>		
			<div class="col-md-9">
				<div class="col-md-4" ng-repeat="printer in printers">
					<div id="p_{{printer.serial}}" class="panel printer_panel" style="border-bottom:2px solid black; border-right:2px solid black; padding-bottom:20px" ng-click="togglePrinterSelect(printer)" ng-style="printerSelectStyleToggle(printer)">
						<h1 class="text-center" style="padding:0px">{{printer.serial}}</h1>
						<paneltxt class="text-center">
							{{printer.jobData.state}}
						</paneltxt>
						<paneltxt class="text-center">{{printer.jobData.file_loaded}}</paneltxt>
						<paneltxt class="text-center">Extruder: {{printer.printerData.temperature.extruder}}</paneltxt>
						<paneltxt class="text-center">Bed: {{printer.printerData.temperature.bed}}</paneltxt>
					</div>
				</div>
			</div>
		</div>
	
		<hr>
	
		<div class="row">
			<div class="col-md-3">
				<div class="panel panel-default" style="height:353px">
					<div class="panel-heading">Log for {{ dateToday | date:'MMM d, yyyy'}}</div>
					<ul class="list">
						<li style="margin-top:10px" ng-repeat="action in actionLog">
							{{action.timeStamp | date:' h:mm:ss a'}} - {{action.message}}
						</li>
					</ul>
				</div>	
			</div>
			<div class="col-md-9">	
				<div class="pull-left" style="margin-bottom:20px">
					<button class="btn btn-default" ngf-drop ngf-select ngf-multiple="true"  ng-model="newFileObject" style="display:block; margin-top:0px" ngf-drag-over-class="'dragover'" accept=".gcode" ngf-pattern=".gcode">		
						<h4 style="padding-left:10px; padding-right:10px">Add New File</h4>
					</button>
				</div>					

				<table class="table table-bordered" style="height:280px; border 1px solid #000000">
					<thead>		
						<tr>
							<th></th>
							<th scope="col">Filename</th>
							<th scope="col">Last Uploaded</th>
							<th scope="col">Size</th>
						</tr>
					</thead>
					<tbody>
						<tr>
							<td><input type="checkbox"></td>
							<td>Example.gcode</td>
							<td>Some date</td>
							<td>Size</td>
						</tr>
						<tr ng-repeat="file in uploadedFiles" ng-click="toggleFileSelect(file)" ng-style="fileSelectStyleToggle(file)">
							<td><input type="checkbox" ng-model="file.selected" ng-click="toggleFileSelect(file)" style="align:center"></td>
							<td>{{file.name}}</td>
							<td>{{file.uploadTime | date:'MMM d, yyyy @ hh:mm a'}}</td>
							<td>{{file.mbSize}}mb</td>
						</tr>
					</tbody>
				</table>				
			</div>
		</div>
	</div>


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="lib/ng-file-upload/dist/ng-file-upload.js"></script>	
	<script type="text/javascript" src="javascripts/main.module.js"></script>
	<script type="text/javascript" src="javascripts/factories/fileInteractionFactory.js"></script>
	<script type="text/javascript" src="javascripts/controllers/ui.controller.js"></script>
</body>

</html>