body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.printer_panel {
	display: block;
	border: 1px solid #000000;
}

.printer_panel:active{
	background-color: grey;
}

.selected {
	background-color: grey;
}

.panel-btn {
	display: block;
	width: 100%;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}

.ctrl-btn {
	display: block; 
	height: 100px; 
	width: 20%;
	border: 1px solid #000000;
	border-right: 2px solid #000000;
	border-bottom: 2px solid #000000;
	margin-top:10px;
}

paneltxt {
	display: block;
	font: 16pt "Helvetica";
	white-space: nowrap; 
	text-overflow: ellipsis; 
	overflow: hidden; 
	margin-bottom:0px; 
	margin-top:5px;
}
